<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
 
</head>
    
<body>
        <div id = "login-example">
                <user-login></user-login>
        </div>
        <div id ="login-template">
            <div>
                <input type="text" placeholder="로그인 I D" v-model="userid" >
            </div>
            <div>
                <input type="text" placeholder="비밀번호" v-model="password" >
            </div>
            <button @click="login">로그인</button>
            </div>
            
    <script>
        Vue.component(
            'user-login',
            {
                template : '<h1>loginComponent</h1>',
                data : function(){
                    return{
                        userid: '',
                        password: ''
                    }
                },
                methods:{
                    login: function(){
                        auth.login(this.userid, this.password)
                    }
                }
            }
        )
        var auth = {
            login: function(id, pass ){
                window.alert("userd : " + id + "password : " +pass);
            }
        }
        new Vue({
            el: '#login-example'
        })
    </script>
</body>
</html>